---
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ServiceCard from '../../components/ui/ServiceCard.astro';

// Get page content from collection
const pageData = await getEntry('pages', 'services-index');

const services = await getCollection('services');
const sortedServices = services.sort((a, b) => b.data.base.rating - a.data.base.rating);
---

<BaseLayout
  title={pageData.data.title}
  description={pageData.data.description}
>
  <div class="py-12">
    <div class="container">
      <h1 class="text-4xl md:text-5xl font-bold text-florize-green mb-8 text-center">
        {pageData.data.intro!.heading}
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {sortedServices.map((service) => (
          <ServiceCard service={service} />
        ))}
      </div>
    </div>
  </div>
</BaseLayout>
